/* You can add global styles to this file, and also import other style files */
/* body {
    transform: scale(0.75);
    transform-origin: top left;
    width: 133.33%; /* 100% / 0.75 to keep content aligned */
    /* height: 133.33%; */
/* } */ 
